In [1]:
#IMPORT THƯ VIỆN
import lib.step16_cohort_analysis as coh
import pandas as pd
import seaborn as sns
import numpy as np

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#BƯỚC 0: UPLOAD DATA
dir_file = "data_analysis/OnlineRetail.csv"
encoding='latin1'
date_='InvoiceDate'
price = 'UnitPrice'
df = coh.upload_data(dir_file=dir_file, encoding=encoding, date_=date_, price=price)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom

In [3]:
#BƯỚC 1: THỰC HIỆN THÊM THỜI GIAN CHO BÀI TOÁN
df = coh.get_date_cohort_analysis(df=df, date_='InvoiceDate', id_customer='CustomerID', name_output = 'CohortMonth', min_ = 'min' , name_output2 ='CohortIndex')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CohortMonth,CohortIndex
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-01,2.55,17850.0,United Kingdom,2010-01-01,1.0
1,536365,71053,WHITE METAL LANTERN,6,2010-01-01,3.39,17850.0,United Kingdom,2010-01-01,1.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-01-01,2.75,17850.0,United Kingdom,2010-01-01,1.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-01,3.39,17850.0,United Kingdom,2010-01-01,1.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-01,3.39,17850.0,United Kingdom,2010-01-01,1.0
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-09-01,0.85,12680.0,France,2011-08-01,2.0
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-09-01,2.10,12680.0,France,2011-08-01,2.0
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-09-01,4.15,12680.0,France,2011-08-01,2.0
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-09-01,4.15,12680.0,France,2011-08-01,2.0
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-09-01,4.95,12680.0,France,2011-08-01,2.0

In [5]:
cohort_counts, retention, average_quantity, average_revenue = coh.cohort_analysis(df)
cohort_counts

CohortIndex,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0
CohortMonth,,,,,,,,,,,,,,,,,,,,,
2010-01-01,98.0,9.0,4.0,NaN,7.0,7.0,4.0,10.0,10.0,5.0,...,38.0,40.0,36.0,44.0,41.0,37.0,41.0,44.0,40.0,23.0
2010-02-01,108.0,2.0,NaN,NaN,3.0,7.0,5.0,12.0,5.0,NaN,...,39.0,38.0,43.0,48.0,34.0,41.0,45.0,53.0,19.0,NaN
2010-03-01,49.0,NaN,1.0,1.0,1.0,2.0,5.0,NaN,NaN,14.0,...,23.0,16.0,19.0,19.0,13.0,24.0,23.0,9.0,NaN,NaN
2010-05-01,68.0,3.0,3.0,2.0,3.0,1.0,NaN,24.0,32.0,20.0,...,30.0,32.0,31.0,33.0,40.0,20.0,NaN,NaN,NaN,NaN
2010-06-01,76.0,2.0,4.0,4.0,1.0,NaN,26.0,29.0,25.0,25.0,...,27.0,33.0,26.0,39.0,5.0,NaN,NaN,NaN,NaN,NaN
2010-07-01,53.0,2.0,2.0,1.0,NaN,9.0,24.0,22.0,22.0,19.0,...,22.0,20.0,29.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-01,87.0,3.0,2.0,NaN,30.0,37.0,30.0,34.0,33.0,36.0,...,41.0,49.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-01,83.0,1.0,NaN,23.0,29.0,20.0,30.0,23.0,29.0,26.0,...,32.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-01,38.0,NaN,11.0,15.0,12.0,15.0,18.0,8.0,14.0,11.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-12-01,288.0,102.0,79.0,97.0,93.0,105.0,108.0,96.0,93.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-01,599.0,142.0,154.0,145.0,169.0,186.0,182.0,147.0,195.0,201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-02-01,427.0,91.0,86.0,101.0,114.0,116.0,107.0,118.0,113.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-03-01,409.0,74.0,86.0,88.0,98.0,84.0,89.0,103.0,113.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-04-01,325.0,68.0,61.0,63.0,59.0,66.0,90.0,80.0,16.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-01,271.0,54.0,52.0,48.0,63.0,48.0,72.0,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-06-01,271.0,47.0,46.0,58.0,53.0,74.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-07-01,226.0,44.0,42.0,48.0,60.0,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-08-01,166.0,27.0,39.0,43.0,9.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-09-01,240.0,37.0,51.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-01,250.0,50.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11-01,218.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-01,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# BƯỚC 2: BẢNG ĐẾM SỐ LẦN KHÁCH HÀNG MUA VÀ QUAY LẠI MUA SAU 1 THÁNG
cohort_counts, retention, retention_visu, average_quantity = coh.cohort_counts(df=df, CohortMonth='CohortMonth', CohortIndex = 'CohortIndex', id_customer='CustomerID')
cohort_counts

In [ ]:
retention

In [ ]:
average_quantity

In [ ]:

coh.plot_visualation2(df=cohort_counts, title = 'Retention rates', width_ = 22, height_ = 24)

In [ ]:

coh.plot_visualation(df=retention_visu, title = 'Retention rates', width_ = 22, height_ = 24)

In [ ]:

coh.plot_visualation2(df=average_quantity, title = 'Retention rates', width_ = 22, height_ = 24)